.container {
  background-color: #fff;
  margin: 75px 10px 50px 25px;
}

.profileimg {
  padding-right: 10px;
  padding-bottom: 10px;
}

body {
  background-image: url("https://i.ytimg.com/vi/5xniR1GN69U/maxresdefault.jpg");
}