.container {
  background-color: #fff;
  margin: 75px 10px 50px 25px;
  padding: 40px;
}

.profileimg {
  padding-right: 10px;
  padding-bottom: 10px;
}

body {
  background-image: url("https://raw.githubusercontent.com/MushtaqSafie/Responsive-Portfolio/main/assets/img/background.jpg");
  background-color: lightblue;
}


